# -------------------------
# Angular / Node
# -------------------------
/dist
/tmp
/out-tsc
/bazel-out
/node_modules
npm-debug.log
yarn-error.log
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# -------------------------
# Spring Boot / Java / Maven
# -------------------------
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# -------------------------
# IDEs and Editors
# -------------------------
## IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

## Eclipse / STS
.project
.classpath
.factorypath
.settings/
.apt_generated
.springBeans
.sts4-cache

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

## Others
.c9/
*.launch

# -------------------------
# System files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Miscellaneous
# -------------------------
HELP.md
